<div class="form-wrapper">
  <h2>アカウント登録</h2>
  <%= form_with model: @user do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="form-item">
      <%= f.text_field :name, required: "required", placeholder: "名前" %>
    </div>
  
  
    <div class="form-item">
      <%= f.email_field :email, required: "required", placeholder: "メールアドレス" %>
    </div>
    
    <div class="form-item">
      <%= f.password_field :password, required: "required", placeholder: "パスワード" %> 
    </div>
    
    <div class="form-item">
      <%= f.password_field :password_confirmation, required: "required", placeholder: "パスワード(確認)"  %> 
    </div>
     
    <div class="button-panel">
      <%= f.submit '登録',  class: 'button' %>
    </div>
  <% end %>
</div>
