<ul class="category">
    <li><%= link_to("海・川", controller: "categories", action: "index", category_id: 7) %></li>
    <li><%= link_to("自然", controller: "categories", action: "index", category_id: 8) %></li>
    <li><%= link_to("観光", controller: "categories", action: "index", category_id: 10) %></li>
    <li><%= link_to("日常", controller: "categories", action: "index", category_id: 11) %></li>
    <li><%= link_to("食べ物", controller: "categories", action: "index", category_id: 12) %></li>
    <li><%= link_to("景色", controller: "categories", action: "index", category_id: 13) %></li>
    <li><%= link_to("イベント", controller: "categories", action: "index", category_id: 14) %></li>
    <li><%= link_to("街並み", controller: "categories", action: "index", category_id: 15) %></li>
    <li><%= link_to("休日", controller: "categories", action: "index", category_id: 16) %></li>
    <li><%= link_to("趣味", controller: "categories", action: "index", category_id: 17) %></li>
    <li><%= link_to("運動", controller: "categories", action: "index", category_id: 19) %></li>
    <li><%= link_to("その他", controller: "categories", action: "index", category_id: 20) %></li>
</ul>