<section class="toppage">
  <div class="top_slide">
    
  </div>
  
  <div class="photo_part">
    <p>最近の投稿</p>
    <% @posts.each do |post| %>
      <ul class="photo_post">
        <li class="top_photo">
          <% if post.image.present? %>
            <%= link_to image_tag(post.image.url), "/posts/#{post.id}" %>
          <% end %>
        </li>
        <ul class="photo_info">
          <li class="top_first_line">
            <%= link_to image_tag(post.user.image.url),  user_path(post.user) %>
            <%= link_to post.user.name, user_path(post.user) %> 
            <span class="created_at"><%= post.created_at.strftime('%Y/%m/%d')  %></span>
          </li>
          <li class="top_title">
            <%= post.title %>
          </li>
          <li class="top_content">
            <%= post.content %>
          </li>
        </ul>
      </ul>
    <% end %>
    <%= paginate @posts %>
  </div>
</section>


 

