<section class="post_show">
  <ul>
    <li class="show_photo">
      <%= image_tag @post.image.url %>
    </li>
    <li class="show_photo_title">
      <%= @post.title %>
    </li>
    <li class="show_photo_user">
      <%=  link_to image_tag(@post.user.image.url), user_path(@post.user), class: "user_image" %>
      <%= link_to @post.user.name, user_path(@post.user) %>
    </li>
    <li class="show_place">
      <p class="place">撮影場所 &nbsp;</p> 
      <p><%= @post.place %></p>
    </li>
    <li class="show_photo_content">
      <%= @post.content %>
    </li>
  </ul>
  <% if @post.user == current_user %>
   <%= link_to("編集", "/posts/#{@post.id}/edit", method: :get) %>
   <%= link_to("削除する", post_path(@post), method: :delete) %>
  <% end %>
</section>


