<section class="search">
  <div class="search_word">
    <% if params[:search].present? %>
      『<%= params[:search] %>』 の検索結果 <%= @posts.count %>件
    <% end %>
  </div>
  
  <div class="search_result">
    <% @posts.each do |post| %>
    <ul>
      <li　class="search_post">
        <% if post.image.present? %>
          <%= link_to image_tag(post.image.url), "/posts/#{post.id}" %>
        <% end %>
      </li>
      <ul>
        <li >
          <%= link_to image_tag(post.user.image.url),  user_path(post.user) %>
          
        </li>
        <li>
          <%= post.title %>
        </li>
      </ul>
    </ul>
    <% end %>
   <%= paginate @posts %>
  </div>
</section>