<div id="header">
  <div id="title_logo">
    <%= link_to image_tag("logo.png"), "/" %>
  </div>
  <div class="hamburger">
    <%= render 'layouts/hamburger' %>
  </div>
  <div id="gn_menu">
    <% if logged_in? %>
      <ul id="dropmenu">
        <div id="post-button">
          <%= link_to image_tag("post2.png"), new_post_path(@post) %>
          <p>Post</p>
        </div>
        <li>
          <div class="user-button">
            <% if current_user.image %>
              <%= link_to image_tag(current_user.image.url), user_path(current_user), class: 'user_image' %>
            <% else %>
              <%= link_to image_tag("a.png"), user_path(current_user), class: 'default_image' %>
            <% end %>
            <p>My&nbsp;&nbsp;Page</p>
          </div>
          
          <ul>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'プロフィール編集', edit_user_path(current_user) %></li>
            <li><%= link_to '投稿する', new_post_path(@post) %></li>
            <li><a herf="/">お気に入り一覧</a></li>
            <li><%= link_to 'ログアウトする', logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      
    <% else %>
      <div class="account">
        <%= link_to image_tag("login.png"), login_path, class: 'login' %>
        <%= link_to image_tag("signup.png"), signup_path, class: 'signup' %>
      </div>
    <% end %>
 </div>
</div>

