<div id="header_bar" class="nologin header_sns">
  <div id="header_wrapper">
    <div id="header">
      <div id="title_logo">
        <%= link_to image_tag("logo.png"), "/" %>
      </div>
      
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <ul id="nav-content">
          <% if logged_in? %>
            <li class="user"><a href="/">ユーザーの名前</a></li>
            <li class="menu"><a href="/">自分らしい生活を探す</a></li>
            <li class="menu"><%= link_to 'マイページ', user_path(current_user) %></li>
            <li class="menu"><a href="/">投稿する</a></li>
            <li class="menu"><%= link_to 'プロフィール編集', edit_user_path(current_user) %></li>
            <li class="menu"><a herf="/">お気に入り一覧</a></li>
            <li class="menu"><%= link_to 'ログアウトする', logout_path, method: :delete %></li>
          <% else %>
            <li class="user"><a href="/">ユーザーの名前</a></li>
            <li class="menu"><a href="/">自分らしい生活を探す</a></li>
            <li class="menu"><%= link_to '登録する',  signup_path %></li>
            <li class="menu"><%= link_to 'ログイン', login_path %></li>
            <li class="menu"><a href="/">投稿する</a></li>
          <% end %>
        </ul>
      </div>
      
      <div id="gn_menu">
        <% if logged_in? %>
          <ul id="post-button">
            <a href="/" class="post">
              <%= image_tag "post.png" %>
            </a>
          </ul>
          <ul id="dropmenu">
            <li>
              <%= link_to image_tag("a.png"), user_path(current_user) %>
              <ul>
                <li><%= link_to 'マイページ', user_path(current_user) %></li>
                <li><%= link_to 'プロフィール編集', edit_user_path(current_user) %></li>
                <li class="menu"><a href="/">投稿する</a></li>
                <li class="menu"><a herf="/">お気に入り一覧</a></li>
                <li><%= link_to 'ログアウトする', logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <div class="login">
            <%= link_to image_tag("login.png"), login_path %>
          </div>
          <div class="signup">
            <%= link_to image_tag("signup.png"), signup_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>